# IDE folders
AngularWebsite/my-app/.idea/
AngularWebsite/quickstart/.idea/
dataBinding/.idea/
dataBinding/cmp-databinding-start/.idea/
UdemyClassOne/Components101/.idea/
UdemyClassOne/ng4-PlayGround/.idea/
UdemyCourse26/cmp-databinding-mma/.idea/
UdemyCourse26/cmp-databinding-start/.idea/
UdemyCourse26/my-first-app/.idea/
UdemyCourse26/project-one/.idea/
UdemyCourse26/directives-start/.idea/




#Dependencies

AngularWebsite/my-app/node_modules/
AngularWebsite/quickstart/node_modules/
dataBinding/cmp-databinding-start/node_modules/
UdemyClassOne/Components101/node_modules/
UdemyClassOne/ng4-PlayGround/node_modules/
UdemyCourse26/cmp-databinding-mma/node_modules/
UdemyCourse26/cmp-databinding-start/node_modules/
UdemyCourse26/my-first-app/node_modules/
UdemyCourse26/project-one/node_modules/
UdemyCourse26/directives-start/node_modules/
UdemyCourse26/directives-start/.gitignore




.gitignore
.idea/
